In [1]:
query_simple = {'frm':lambda table: f'select * from {table}'
              }

query_additional = { "w":lambda statement,table: f'{query_simple.get("frm")(table) } where {statement}'
                    
                    ,'frm-lj':lambda primary_table,table_to_join,cols: print(f'''{query_simple.get("frm")(primary_table) } 
                    left join {table_to_join} 
                    on {primary_table}.{cols[0]} = {table_to_join}.{cols[1]}''')

                    ,'frm-lj-many-cols':lambda primary_table,table_to_join,cols: print(f'''{query_simple.get("frm")(primary_table) } 
                    left join {table_to_join} 
                    on (
                        {' AND '.join([ f"{primary_table}.{cols[idx+1]} = {table_to_join}.{cols[idx]}" 
                                         for idx in range(0,len(cols),2 ) ]) }
                        )
                    ''')
                    }

query_simple.get('frm')('monkeys')

'select * from monkeys'

In [2]:
query_additional.get('w')('monkeys','state = "active')

'select * from state = "active where monkeys'

In [3]:

query_additional.get('frm-lj')( 'transaction_content','transaction'
                               ,['transaction_id','transaction_id'])

select * from transaction_content
                    left join transaction
                    on transaction_content.transaction_id = transaction.transaction_id

In [4]:
query_additional.get('frm-lj-many-cols')( 'transaction_content','transaction'
                               ,['transaction_id','transaction_id'
                                 ,'session','session'])

select * from transaction_content
                    left join transaction
                    on (
                        transaction_content.transaction_id = transaction.transaction_id AND transaction_content.session = transaction.session
                        )