In [22]:
import sqlparse

In [15]:
def mysqlreplacer(sql):
    one_word_clause_first_character=['SELECT','FROM','WHERE','HAVING','TOP','DISTINCT','UNION','LIMIT','OFFSET','EXISTS']
    two_word_clause_first_character=['LEFT JOIN','INNER JOIN','RIGHT JOIN','NATURAL JOIN','CROSS JOIN','ORDER BY','GROUP BY','WITH CUBE','WITH ROLLUP','UNION ALL']
    #,'DATE FORMAT','GROUP CONCAT','ROW NUMBER','SUBSTRING INDEX'

    #create one common list based on two lists
    
    
    sql_clause = one_word_clause_first_character+two_word_clause_first_character
    
    #тут оновив , щоб був lowercase
    sql_clause = list(map(str.lower,sql_clause))
    sql_lst = [i.split(' ') for i in sql_clause]
    
    

    #FIST CHARACTER FOR 1 LEN CLAUSES
    #TWO FIRST CHARACTERS FOR 2 LEN CLAUSES
    sql_dict = dict([
                (clause[0][0]+clause[1][0], clause[0]+' '+clause[1])
                if len(clause)==2
                else (clause[0][0], clause[0])
                for clause in sql_lst
               ])

    sql_dict
    my_dict2 = {y: x for x, y in sql_dict.items()}
    clear = sql.split(' ')


    for i in range( len( clear ) ):
        output_token = clear[i]
        input_token =  sql_dict.get(output_token)
        if input_token!=None:
            clear[i] = input_token
        else:
            continue
        #print(output_token,input_token)
    return ' '.join(clear)

In [79]:
def gen_sql_2tables_join( str_lst
                 ,table_alias_str_lst
                 ,how_to_join='AND'):
    
    cols = str_lst.split(',')
    table_aliases = table_alias_str_lst.split(',')
    
    T1,T2 = table_aliases
    res = 'ON\n'+f'\n{how_to_join}\n'.join([f"{T1}.{col} = {T2}.{col}" 
                                  for col in cols])
    print(res)                             
    return res 
                                  
                                  
cols = '''salesman_id,city'''
join_gen = gen_sql_2tables_join(cols,'s,c')

ON
s.salesman_id = c.salesman_id
AND
s.city = c.city

In [82]:
aliases = 'a,b,c,d,e'.split(',')
cols = 'c1,c2,c3,c4'.split(',')


seen = []
c=0
for i in range(len(aliases)):
    for j in range(len(aliases)):
        lst = sorted([aliases[i],aliases[j]])
  
        if i!=j and aliases[i]!=aliases[j] and lst not in seen:
            seen.append(lst)
            for col in cols:
                t1 = aliases[i]
                t2 = aliases[j]
                c+=1
                expr = f"{t1}.{col} = {t2}.{col} -- {c}"
                print(expr)

a.c1 = b.c1 -- 1
a.c2 = b.c2 -- 2
a.c3 = b.c3 -- 3
a.c4 = b.c4 -- 4
a.c1 = c.c1 -- 5
a.c2 = c.c2 -- 6
a.c3 = c.c3 -- 7
a.c4 = c.c4 -- 8
a.c1 = d.c1 -- 9
a.c2 = d.c2 -- 10
a.c3 = d.c3 -- 11
a.c4 = d.c4 -- 12
a.c1 = e.c1 -- 13
a.c2 = e.c2 -- 14
a.c3 = e.c3 -- 15
a.c4 = e.c4 -- 16
b.c1 = c.c1 -- 17
b.c2 = c.c2 -- 18
b.c3 = c.c3 -- 19
b.c4 = c.c4 -- 20
b.c1 = d.c1 -- 21
b.c2 = d.c2 -- 22
b.c3 = d.c3 -- 23
b.c4 = d.c4 -- 24
b.c1 = e.c1 -- 25
b.c2 = e.c2 -- 26
b.c3 = e.c3 -- 27
b.c4 = e.c4 -- 28
c.c1 = d.c1 -- 29
c.c2 = d.c2 -- 30
c.c3 = d.c3 -- 31
c.c4 = d.c4 -- 32
c.c1 = e.c1 -- 33
c.c2 = e.c2 -- 34
c.c3 = e.c3 -- 35
c.c4 = e.c4 -- 36
d.c1 = e.c1 -- 37
d.c2 = e.c2 -- 38
d.c3 = e.c3 -- 39
d.c4 = e.c4 -- 40

In [81]:
#-- при заміні на same_cols треба давати знак, коли вручну
same_cols = 's.salesman_id,s.name,c.cust_name,s.commission'
q=f'''
     s 
     salesman_id
    ,name
    ,ifnull(cust_name,'NO MATCH') as cust_name
    ,comission
    f (
        s {same_cols} 
        f salesman s
        lj customer c
        {join_gen}
        u 
        s {same_cols}
        f customer c
        lj salesman s-- err_here miss lj
        {join_gen}
        ) as subq
    ob name desc
'''

q = mysqlreplacer(q)
q = sqlparse.format(q, reindent=True, keyword_case='upper') #https://stackoverflow.com/questions/44335158/how-to-pretty-format-the-printing-of-sql-queries-in-sqlalchemy
print(q)

SELECT salesman_id ,
       name ,
       ifnull(cust_name, 'NO MATCH') AS cust_name ,
       comission
FROM
  (SELECT s.salesman_id,
          s.name,
          c.cust_name,
          s.commission
   FROM salesman s
   LEFT JOIN customer c ON s.salesman_id = c.salesman_id
   AND s.city = c.city
   UNION SELECT s.salesman_id,
                s.name,
                c.cust_name,
                s.commission
   FROM customer c
   LEFT JOIN salesman s-- err_here miss lj
 ON s.salesman_id = c.salesman_id
   AND s.city = c.city) AS subq
ORDER BY name DESC

In [54]:
from pandasql import sqldf
sql=f'''
select not 'city_example', not '', not Null,not 1
'''

sqldf(sql)

   not 'city_example'  not '' not Null  not 1
0                   1       1     None      0

In [76]:
#import re

In [92]:
def pd_reverse_fromjoin_tables( query
                               ,db_tFrom
                               ,db_tJoin):
    from re import match
    info = f'''{'#'*30}
1. use both table names 
with aliases when substitution! 
    Example: 
    pd_reverse_fromjoin_tables(query_string,'salesman s','customer c')
    '''
    print(info)
    new_query=''
    
    fc=0
    jc=0
    
    join_regexp_pattern = 'inner join|left join|right join'
    for i in q.split('\n'):
        i= i.strip()
        if 'from' in i.lower() and not match('\(|\)',i):
            substition_original_pos = f" -- from_sub{fc}'. Original:f - {db_tFrom},j - {db_tJoin}"
            substition_res = i.replace(db_tFrom,db_tJoin)
            row = f"{substition_res} {substition_original_pos}\n'"
            new_query+=row
            fc+=1
        #elif 'left join' in i.lower():
        elif match(join_regexp_pattern,i.lower()) and not match('\(|\)',i): #re lib
            row = i.replace(db_tJoin,db_tFrom)+f' --  join_sub{jc}'+'\n'
            new_query+=row
            jc+=1
        else:  
            new_query+=i+'\n'
    
    return new_query

q=f'''
SELECT s.salesman_id,
          s.name,
          c.cust_name,
          s.commission
   FROM salesman s
   left JOIN customer c s.salesman_id = c.salesman_id
   AND s.city = c.city
'''
print(pd_reverse_fromjoin_tables(q,'salesman s','customer c'))

##############################
1. use both table names
with aliases when substitution!
    Example:
    pd_reverse_fromjoin_tables(query_string,'salesman s','customer c')


SELECT s.salesman_id,
s.name,
c.cust_name,
s.commission
FROM customer c  -- from_sub0'. Original:f - salesman s,j - customer c
'left JOIN salesman s s.salesman_id = c.salesman_id --  join_sub0
AND s.city = c.city

In [75]:
# def pd_reverse_fromjoin_tables( db_tFrom
#                                ,db_tJoin):
#     print('myselrepacer here')
#     q_straight = f'''
#     f {db_tFrom}
#     lj {db_tJoin}
#     '''
#     q_reverse =  q_straight = f'''
#     f {db_tJoin}
#     lj {db_tFrom}
#     '''
#     print(mysqlreplacer(q_straight))
#     print(mysqlreplacer(q_reverse))
#     return q_straight,q_reverse

# pd_reverse_fromjoin_tables('A','B')